@import url(css/fonts.css);

*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.services {
    background-color: #F2F2F2;
    width: 100%;
    padding-bottom: 1px;
}

.services__title {
    display: block;

    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    
    font-family: "TT Lakes Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.2px;
    text-transform: uppercase;

    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    color: #7E7E82;
}

.slider-container {
    
    margin-left: 16px;
    margin-bottom: 16px;
}

.swiper-container {
    margin-bottom: 15px;
}

.slider-container::after {
    content: '';
    position: absolute;

    z-index: 1;
    height: 81px;
    width: 24px;
    top: 68px;
    right: 0;

    background-image: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 72px;
    width: 240px;
    padding: 16px;
    
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    transition-duration: all 1s ease-in;
}

.card:hover,
.card:focus {
    border: 1px solid rgba(255, 62, 121, 0.5);;
    border-radius: 6px;
}

.card:active {
    opacity: 0.7;
}

.card__cursor-img {
    height: 40px; 
    width: 40px;
}

.services__show-button {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0;
    margin-bottom: 34px;

    background-color: #F2F2F2;
    border: 0;
}

.services__expand-ico-down {
    transform: rotate(180deg);
}

.services__button-text {
    font-family: "TT Lakes Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.2px;

    color: #1B1C21;
}

.swiper-pagination {
    position: static;
    
    margin: 0 auto;
}

.swiper-pagination-bullet {    
    height: 12px; 
    width: 12px; 
    margin: 0;
    margin-right: 12px;

    opacity: 1;
    background: #DDDDDD;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #B5B6BC;
}

.hidden  {
    display: none;
}

@media (max-width: 767.98px) {
    .services {
        height: 233px;
    }

    .services__show-button,
    .services__hide-button {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1119.98px) {
    .services__title {
        padding-left: 24px;
    }
    
    .slider-container {
        margin-left: 24px;
    }

    .swiper-wrapper {
        flex-wrap: wrap;
        gap: 16px 24px;
        
        padding: 0;
    }

    .card {
        width: 224px;
    }

    .swiper-pagination {
        display: none;
    }

    .services__show-button {
        margin-bottom: 34px;
    }
}

@media (min-width: 1120px) {
    .services__title {
        padding-left: 32px;
    }

    .slider-container {
        margin-left: 32px;
    }

    .swiper-wrapper {
        flex-wrap: wrap;
        gap: 16px 32px;
        
        padding: 0;
    }

    .card {
        width: 240px;
    }

    .swiper-pagination {
        display: none;
    }
}
